.DS_Store
node_modules
/vendor
tmp
.bundle
.sass-cache

*.sublime-project
*.sublime-workspace

*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
*.sublime-project
*.sublime-workspace
*.xiki
fuel/app/logs/*/*/*
fuel/app/cache/*/*
build
nbproject/
.idea

node_modules

fuel/app/config/**/migrations.php
fuel/app/config/crypt.php

DEVELOPMENT
STAGE
PRODUCTION
TEST

!fuel/app/*/DEVELOPMENT
!fuel/app/*/STAGE
!fuel/app/*/PRODUCTION
!fuel/app/*/TEST

assets/css/.sass-cache
