<h1>Detail</h1>

<p>Joints is a boilerplate project that is/contains the following:</p>
<ul>
  <li>Backbonejs application, putting rendering and a rich UI on the clientside</li>
  <li>RequireJS for module loading (AMD style)</li>
  <li>Coffeescript for the javascript</li>
  <li>Compass/SASS for styling</li>
  <li>gruntjs for building</li>
</ul>

<hr />

<div>
  <label for="add">Add user:</label>
  <input type="text" id="add" />
</div>

<h2>Demo userlist</h2>
<ul id="userlist"></ul>
