<div class="hero-unit">
  <h1>&times; Joints &times;</h1>
  <p>Proximity&#39;s approach to Backbonejs / Coffeescript / RequireJS / FuelPHP Backend</p>
  <a class="btn btn-primary btn-large" href="detail">Learn more</a>
</div>
