<div class="show">
  user: <span>{{username}}</span>
  <a href="#" class="edit" data-bypass="true"><i class="icon-pencil"></i></a>
  <a href="#" class="delete" data-bypass="true"><i class="icon-remove"></i></a>
</div>
<div class="edit">
  <input type="text" name="username" id="username" />
</div>
